.git
.github
dist/
build/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
env/
venv/
.env/
.venv/
config.ini
.rename.ini
*.ini
log/
*.log
custom_tags.json
gemini_tags.json
scratch/
.vscode/
.idea/
tests/
docs/
